[Unit]
Description=gosearch file indexing server
ConditionKernelVersion=>=5.1

[Service]
Type=simple
ExecStart=/usr/bin/gosearchServer

[Install]
WantedBy=multi-user.target
